# General
bin
tmp

# JavaScript Build
*/**/*.js
*/**/*.js.map
*.js
*.js.map


# TSD Project files
typings/
# Grunt
node_modules

# GruntTS
.tscache
*.html.ts

# IDE project files
*.iml
.idea
.idea_modules
.cache
.classpath
.project
.boot
.target

